body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: #BEBEBE;
    color: white;
    padding: 10px 0;
}

header h2 {
    padding-left: 20px;
    font-size: 200%;
}

#main {
    width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border:  1px solid gray;
}

table td {
    border:  1px solid gray;
}

table tr.expired {
    background: #ffcccc;
}

#task {
    background: #99ffcc;
}


